<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header_footer.css') }}">
  
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        section {
            margin: 20px;
        }

        h1 {
            color: #fff;
        }

        p {
            color: #333;
        }

        a {
            color: #333;
        }
    </style>
</head>

<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-between mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h1 class="text-danger">{{ user.username }}'s Profile</h1>
        </div>

        <div class="col-md-3 text-end">
            {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-danger"> <a href="register" class="btn_form" style="text-decoration: none; color: white;" > Register </a></button>
                <button type="button" class="btn btn-danger"> <a href="{{ url_for('logout') }}" class="btn_form" style="text-decoration: none;"> Logout </a></button>
            {% else %} 
                <button type="button" class="btn btn-outline-danger me-2"> <a href="login" class="btn_form" style="text-decoration: none;"> Login</a></button>
                <button type="button" class="btn btn-outline-danger"> <a href="register" class="btn_form" style="text-decoration: none;"> Register </a></button>
            {% endif %}
        </div>

        <div class="col-12 d-flex justify-content-center">
            <ul class="nav col-md-auto mb-2 mb-md-0">
                {% if current_user.is_authenticated %}
                    <li><a href="#" class="nav-link px-2" class="logged_in" style="color: #dfcece;"> {{ current_user.username }} is logged in</a></li>
                    <li><a href="/" class="nav-link px-2" style="color: #dc3545 " >Home</a></li>
                    <li><a href="/movies" class="nav-link px-2" style="color: #dc3545 ">Movie Catalog</a></li>
                {% else %}
                    <li><a href="/" class="nav-link px-2" style="color: #dc3545 " >Home</a></li>
                    <li><a href="/movies" class="nav-link px-2 " style="color: #dc3545 ">Movie Catalog</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
</div>

<body>
    <section>
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Rented Movies: {{ rented_movies_count }}</p>
        <a href="/">Back to Home Page</a>
    </section>
</body>
</html>
